<h1>GeekInstagram</h1>

<!--   First block Start   -->
<section id="first-block">
<p><h4>投稿を検索</h4>
 <%= form_tag({controller:"tests",action:"index"}, method: :get) do %>
   <%= text_field_tag :search %>
   <%= submit_tag '検索する'  %>
<% end %>
<span class="br">
<p><%= link_to "新規投稿へ", new_test_path %></p>
<% if user_signed_in? %>
<p1><%= link_to "マイページへ", user_path(current_user.id) %></p1></span>
<% end %>
</p>
</section>
<!--   First block End   -->

<h3>投稿一覧</h3>
<div class="tests-container">
  <% @tests.each do |t| %>
    <div class="test">
    <%= t.user.email %>
      <%= image_tag t.image_url, size: "250x200" if t.image? %>
      <p><%= t.body %></p>
      <% if user_signed_in? %>
      <% if current_user.already_liked?(t) %>
          <%= link_to test_like_path(id: t.id, test_id: t.id), method: :delete do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% else %>
          <%= link_to test_likes_path(id: t.id, test_id: t.id), method: :post do %>
            <i class="fas fa-heart"></i><%= t.likes.count %>
          <% end %>
      <% end %>
  <% else %>
    <i class="fas fa-heart"></i><%= t.likes.count %>
  <% end %>
 
        <%= link_to "詳細へ", test_path(t.id) %>
         
        <%= link_to "編集する", edit_test_path(t.id) %>
        <%= button_to "削除する", test_path(t.id), method: :delete %>
        <p1 class="time"><%= t.created_at %></p1>
      </div>

    <% end %>

</div>

<%= paginate @tests %>
